.sign-up, Login{
    text-align: center;
}
.sign-up h1,Login h1{
    margin-top: 50px;
    margin-bottom: 80px;
    color: blueviolet;
}
.auth-toggle-link{
    margin-top: 20px;
    color: blueviolet;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}