body {
  font-family: sans-serif;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.common-form{
    display: flex;
    margin:auto;
    flex-direction: column;
    width: 300px;
}

.form-input{
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid blueviolet;
  color: blueviolet;

}

.form-button{
  height: 35px;
  border: 1px solid blueviolet;
  color:blueviolet;
  cursor: pointer;
}

.error-p{
  color: red;
}